<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" class="fontawesome-i2svg-active fontawesome-i2svg-complete">
	<head>
		<title th:text="${site_title}">Template Title</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<a th:href="@{/index}" class="logo"><strong>AZABELLCODE</strong> by Azabell1993</a>
									<ul class="icons">
										소스코드 바로가기 <li><a onclick="window.open('https://github.com/Azabell1993/ClangStructPointerExample/tree/main/example13_Final_Project/wasmtest/C')" class="icon brands fa-github"></a></li>
									</ul>
								</header>

							<!-- Banner -->
								<section id="banner">
									<div class="content">
										<img src="images/mainPic.png"  style="width: 900px; height:auto;" alt="" />

									</section>
<!--########################################################################################################################################################### -->
<!--########################################################################################################################################################### -->
<!-- Main Post Space -->
<section>
	<header class="main">
		<h1>SQL 연동 테스트</h1>
	</header>

	<!-- Content -->
	<h4>table A</h4>
		<div class="table-wrapper">
			<table class="alt">
				<thead>
					<tr>
						<th colspan="2">member list</th>
					</tr>
				</thead>
				  <tbody>
					<tr>
						<td>name</td>
						<td>age</td>
					</tr>
				  </tbody>
				<tbody>
					<tr th:each="testlist : ${list}">
					  <td th:text="${testlist.name}">aa</td>
					  <td th:text="${testlist.age}">bb</td>
				  </tr>
			  </tbody>
			</table>
		</div>
			
		</section>

<!-- Main Post Space -->
<!--########################################################################################################################################################### -->
<!--########################################################################################################################################################### -->	

							<!-- Section -->
								<section>
									<header class="major">
										<h2>Blog 소개</h2>
									</header>
									<div class="features">
										<article>
											<div class="content">
												<h3>C/C++</h3>
												<p>제가 C/C++언어를 활용하여서 wasm으로 빌드하고 실습하는 것을 연습한 것을 소스코드 공개와 같이 모두 공유할 수 있는 블로그 공간입니다.</p>
											</div>
										</article>
										<article>
											<div class="content">
												<h3>Linux</h3>
												<p>기초적인 커널 공부에 대한 기록들을 공유하는 블로그 공간입니다.</p>
											</div>
										</article>
										<article>
											<div class="content">
												<h3>Talk</h3>
												<p>기타 프로그래밍에 대한 지식들을 메모장으로 남겨둔 것을 모두와 공유하는 블로그 공간입니다.</p>
											</div>
										</article>
										<article>
											<div class="content">
												<h3>DashBoard</h3>
												<p>여러가지 쿼리들을 실습하고 연습한 것을 모도와 공유하는 블로그 공간입니다.</p>
											</div>
										</article>
									</div>
								</section>
						</div>
					</div>


				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">


							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										<li><a th:href="@{/index}">홈으로</a></li>
										<li><a th:href="@{/generic}">Pointer 이야기</a></li>
										<li>
											<span class="opener">C언어</span>
											<ul>
												<li><a href="#">절차지향과 객체지향</a></li>
												<li><a href="#">C언어로 유사객체지향 구현에 대한 이야기</a></li>
												<li><a href="#">포인터 바이블</a></li>
												<li><a href="#">C언어와 C++ 차이</a></li>
											</ul>
										</li>
										<li>
											<span class="opener">C++ 언어</span>
											<ul>
												<li><a href="#">대기 중</a></li>
												<li><a href="#">대기 중</a></li>
												<li><a href="#">대기 중</a></li>
												<li><a href="#">대기 중</a></li>
											</ul>
										</li>
										<li>
											<span class="opener">어셈블리 언어</span>
											<ul>
												<li><a href="#">대기 중</a></li>
												<li><a href="#">대기 중</a></li>
												<li><a href="#">대기 중</a></li>
												<li><a href="#">대기 중</a></li>
											</ul>
										</li>
										<li>
											<span class="opener">JS 언어</span>
											<ul>
												<li><a href="#">.wasm과 JS</a></li>
												<li><a href="#">대기 중</a></li>
												<li><a href="#">대기 중</a></li>
												<li><a href="#">대기 중</a></li>
											</ul>
										</li>
										<li>
											<span class="opener">Unity</span>
											<ul>
												<li><a href="#">대기 중</a></li>
												<li><a href="#">대기 중</a></li>
												<li><a href="#">대기 중</a></li>
												<li><a href="#">대기 중</a></li>
											</ul>
										</li>
										<li>
											<span class="opener">와즘 구현 공간</span>
											<ul>
												<li><a 소:href="@{/editproduct}">연동 테스트 샘플</a></li>
												<li><a href="#">대기 중</a></li>
												<li><a href="#">대기 중</a></li>
												<li><a href="#">대기 중</a></li>
											</ul>
										</li>
										<li>
											<span class="opener">포트폴리오</span>
											<ul>
												<li><a href="#">주제 별 깃 허브</a></li>
												<li><a href="#">대기 중</a></li>
												<li><a href="#">대기 중</a></li>
												<li><a href="#">대기 중</a></li>
											</ul>
										</li>
										<li>
											<span class="opener">기타 언어들에 대한 이야기</span>
											<ul>
												<li><a href="#">C#</a></li>
												<li><a href="#">Java</a></li>
												<li><a href="#">go</a></li>
												<li><a href="#">Rust</li>
												<li><a href="#">etc..</a></li>
											</ul>
										</li>
										<li>
											<span class="opener">잡담</span>
											<ul>
												<li><a href="#">대기 중</a></li>
												<li><a href="#">대기 중</a></li>
												<li><a href="#">대기 중</a></li>
												<li><a href="#">대기 중</a></li>
											</ul>
										</li>
										<li>
											<span class="opener">년도별 회고록</span>
											<ul>
												<li><a href="#">2023</a></li>
												<li><a href="#">2024</a></li>
												<li><a href="#">2025</a></li>
												<li><a href="#">2026</a></li>
												<li><a href="#">2027</a></li>
												<li><a href="#">2028</a></li>
												<li><a href="#">2029</a></li>
												<li><a href="#">2030</a></li>
											</ul>
										</li>
									</ul>
								</nav>

							<!-- Section -->


							<!-- Section -->
								<section>
									<header class="major">
										<h2>연락처</h2>
									</header>
									<ul class="contact">
										<li class="icon solid fa-envelope">jiwoopark@mtdata.co.kr</li>
										<li class="icon solid fa-home">경기도 성남시 분당구 판교로<br />
										<h2>엠티데이타</h2></li>
									</ul>
								</section>

														<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; Azaebll1993 </p>
								</footer>

						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="assets/js/AddFunction.js"></script>
				
    <!-- add Scripts -->
      <script src="/product/editproduct.js"></script>
      <script src="/product/validate.js"></script>
	</body>
</html>


