
<!-- Preformatted Code -->
<br/>
<h2>메인 파일</h2>
<br/>
<div class="col-10 col-12-medium">
    <ul class="alt">
        <li> 메인 파일의 내용이다. 앞서 program.h에서 이미 선언을 한 바가 있기 때문에 함수 명만 편하게 가져다가 쓰면 그만이다.</li> 
    </ul>
</div>

<!-- Preformatted Code -->
<pre><code>#include &lt;stdio.h&gt;
#include "program.h"

int main(int argc, char* argv[]) {

    int data[2];

    for(int i=0; i<2; i+=1)
    scanf("%d", &data[i]);

#ifdef _WIN64
    SumLogic sum1 = new_SumLogic();
    sum1.setSum(&sum1, data);
    sum1.for_each_ptr(&sum1,init);
    //sum1.for_each(&sum1, print);
    sum1.getSum(&sum1);
#endif

    return (0);
}
</code></pre>
<!-- Preformatted Code -->