
<code><pre>
    public inline void init(type *e) {                                              \
        static int i = 3;                                                           \
        for(; i<length; i+=1)                                                       \
            *e = i;                                                                 \
    }                                                                               \
                                                                                    \
    public inline void print(type *e) {                                             \
        printf("%d ", e);                                                           \
    }                                                                               \
                                                                                    \
    SUM new_##SUM(void)                                                             \
    {                                                                               \
        static SUM temp = {                                                         \
                .input = 0,                                                         \
                .size = SUM##_size,                                                 \
                .setSum = SUM##_set_Sum,                                            \
                .getSum = SUM##_get_Sum,                                            \
                .for_each_ptr = SUM##_for_each_ptr,                                 \
                .for_each = SUM##_for_each,                                         \
        };                                                                          \
        return temp;                                                                \
    }
#ifdef __cplusplus
}
#endif //__cplusplus
#endif
</code></pre>