<!--footerFragment 선언-->
<div th:fragment="indexFragment">
	<header class="main">
		<h1>본 문서는 A+B의 기본 코드를 이해하기 위한 코드입니다.</h1>
	</header>

	<details>
		<summary>add.h</summary>
		<div class="row">
			<section include-html="/eduOOP2/exam1.html"></section>
		</div>
	</details>

	<details>
		<summary>add.h(2)</summary>
		<div class="row">
			<section include-html="/eduOOP2/exam1-2.html"></section>
		</div>
	</details>

	<details>
		<summary>program.h</summary>
		<div class="row">
			<section include-html="/eduOOP2/exam2.html"></section>
		</div>
	</details>


	<details>
		<summary>main.c</summary>
		<div class="row">
			<section include-html="/eduOOP2/exam3_1.html"></section>
		</div>
	</details>

	<details>
		<summary>CMakeList.txt</summary>
		<div class="row">
			<section include-html="/eduOOP2/exam3_2.html"></section>
		</div>
	</details>
</div>