
<!-- Preformatted Code -->
<br/>
<h2>CMakeList.txt</h2>
<br/>
<div class="col-10 col-12-medium">
    <ul class="alt">
        <li>compile을 편리하게 해주는 도구다. Makefile은 손이 너무 많이 타기 때문에 개발에 있어서 시간을 많이 뺏기게 된다. 하지만 CMake을 쓰면 보다 편리해진다.</li>
        <li>하지만 좀 더 촘촘하고 정교하게 큰 프로젝트에서는 상황에 따라 Makefile이 더 나을 수 있다.</li>
    </ul>
</div>

<!-- Preformatted Code -->
<pre><code>cmake_minimum_required(VERSION 3.24)
project(untitled C)

set(CMAKE_C_STANDARD 99)

add_executable(untitled add.h main.c program.h)
</code></pre>
<!-- Preformatted Code -->

