<!--footerFragment 선언-->
<div th:fragment="indexFragment">
	<div class="container">
		<h2>게시글 목록</h2>
		<table class="board_list">
			<colgroup>
				<col width="5%"/>
				<col width="*"/>
				<col width="20%"/>
				<col width="15%"/>
				<col width="8%"/>
			</colgroup>
			<thead>
				<tr>
					<th scope="col">글번호</th>
					<th scope="col">제목</th>
					<th scope="col">작성자</th>
					<th scope="col">작성일</th>
					<th scope="col">조회수</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="board : ${list}">
					<td th:text="${board.boardIdx}"></td>
					<td>
						<span th:if="${board.parentIdx != null}" class="reply-arrow">↳</span>
						<a th:href="@{/board/openBoardDetail.do(boardIdx=${board.boardIdx})}" th:text="${board.title}"></a>
					</td>
					<td th:text="${board.createrId}"></td>
					<td th:text="${board.createdDatetime}"></td>
					<td th:text="${board.hitCnt}"></td>
				</tr>

				<tr th:unless="${#lists.size(list)} > 0">
					<td colspan="5">조회된 결과가 없습니다.</td>
				</tr>
			</tbody>

		</table>

		<a style="float: right" class="btn" th:href="@{/board/openBoardWrite.do}">글쓰기</a>

	</div>
</div>
