<!--footerFragment 선언-->
<div th:fragment="indexFragment">
	<div class="container">
		<h2>답글 등록</h2>
		<form id="frm" name="frm" method="post" action="/board/insertBoard.do"
			<table class="board_detail">
				<!-- Hidden input for parentIdx -->
				<input type="hidden" id="parentIdx" name="parentIdx" th:value="${parentBoard.boardIdx}"/>

				<tr>
					<td>제목</td>
					<td><input type="text" id="title" name="title"></td>
				</tr>
                <tr>
					<td colspan="2">작성자</td>
                    <td><input type="text" id="createrId" name="createrId"></td>
				</tr>
                <tr>
					<td colspan="2">패스워드</td>
                    <td><input type="password" id="password" name="password"></td>
				</tr>
				<tr>
					<td colspan="2">내용</td>
					<td><textarea id="contents" name="contents"></textarea></td>
				</tr>
			</table><br/>
			<input type="submit" id="submit" value="저장" class="btn">
		</form>
	</div>
</div>
