<header class="major">
    <h2>ABOUT BLOG</h2>
</header>
<section>
    <div class="features">
        <article>
            <div class="content">
                <h3>C/C++</h3>
                <p>This is a blog space to share practices and knowledge about C/C++ programming, including low-level system development and embedded software.</p>
            </div>
        </article>
        <article>
            <div class="content">
                <h3>Linux BSP</h3>
                <p>This is a blog space to document and share experiences and insights related to Linux BSP development and kernel-level programming.</p>
            </div>
        </article>
        <article>
            <div class="content">
                <h3>Talk</h3>
                <p>It is a blog space to exchange knowledge and ideas about various programming topics with others.</p>
            </div>
        </article>
        <article>
            <div class="content">
                <h3>DashBoard</h3>
                <p>This is a blog space dedicated to practicing and sharing various exercises and examples with others.</p>
            </div>
        </article>
    </div>
</section>