
    <header class="major">
        <h2>ABOUT BLOG</h2>
    </header>
    <section>
    <div class="features">
        <article>
            <div class="content">
                <h3>C/C++</h3>
                <p>This is a blog space where I can share all my practice of building and practicing with wasm using C/C++ language, such as opening the source code.</p>
            </div>
        </article>
        <article>
            <div class="content">
                <h3>Linux</h3>
                <p>This is a blog space to share records on basic kernel study.</p>
            </div>
        </article>
        <article>
            <div class="content">
                <h3>Talk</h3>
                <p>It is a blog space to share knowledge about other programming with everyone.</p>
            </div>
        </article>
        <article>
            <div class="content">
                <h3>DashBoard</h3>
                <p>This is a blog space to practice and share various queries with Modo.</p>
            </div>
        </article>
    </div>