<div>
    <!-- Header -->
        <header id="header">
            <a th:href="@{/index}" class="logo"><strong>AZABELLCODE</strong> by Azabell1993</a>
            <ul class="icons">
                소스코드 바로가기 <li><a onclick="window.open('https://github.com/Azabell1993/ClangStructPointerExample/tree/main/example13_Final_Project/wasmtest/C')" class="icon brands fa-github"></a></li>
            </ul>
        </header>

    <!-- Banner -->
        <section id="banner">
            <div class="content">

            </div>
        </section>
    </div>