<html xmlns:th="http://www.thymeleaf.org">
<!--footerFragment 선언-->
<div th:fragment="mennuFragment">
<!-- Menu -->
        <nav id="menu">
            <header class="major">
                <h2>Menu</h2>
            </header>
            <ul>
                <li><a th:href="@{/index}">메인 홈</a></li>
                <li><a th:href="@{/introduce}">블로거 소개</a></li>
                <li><a th:href="@{/board/openBoardList.do}">방명록</a></li>
                <!-- <li>
                    <span class="opener">MENU SAMPLE</span>
                    <ul>
                        <li><a href="#">Waiting...</a></li>
                        <li><a href="#">Waiting...</a></li>
                        <li><a href="#">Waiting...</a></li>
                        <li><a href="#">Waiting...</a></li>
                    </ul>
                </a></li> -->
            </ul>
        </nav>

    <!-- Section -->

    <!-- Section -->
        <section>
            <header class="major">
                <h1></h1>
                <h2>CONNECT</h2>
            </header>
            <ul class="contact">
            </ul>
        </section>

        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">&copy; @Oliver.Park </p>
        </footer>
</div>
</html>