<html xmlns:th="http://www.thymeleaf.org">
<!--footerFragment 선언-->
<div th:fragment="productFragment">
	<header class="main">
		<h1>WASM 연동 테스트</h1>
	</header>

	<!-- Content -->
		<div class="gtr-uniform">
        <div id="errorMessage" class="box" role="alert">name : 30자 이상 입력, 두 종류의 입력 상자를 각각 비우거나 길게 입력해보세요.</div>

		</div>

			<div class="gtr-uniform">
				<label for="name">Name</label>
        <input type="text" class="form-control" id="name">
        <label for="category">Category</label>
          <select class="custom-select" id="category">
            <option value="0"></option>
            <option value="100">연습1</option>
            <option value="101">연습2</option>
            <option value="101">연습3</option>
            <option value="101">연습4</option>
            <option value="101">연습5</option>
            <option value="101">연습6</option>
            <option value="101">연습7</option>
            <option value="101">연습8</option>
            <option value="101">연습9</option>
            <option value="101">연습10</option>
          </select>
			</div>
      <ul class="actions">
        <li>
          <button type="button" class="action" onclick="onClickSave()">Save</button>
        </li>
      </ul>
</div>
</html>