<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="fontawesome-i2svg-active fontawesome-i2svg-complete">
<head>
    <title th:text="${site_title}">Template Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="assets/css/fold.css" />
</head>
<body class="is-preload">

    <!-- Wrapper -->
        <div id="wrapper">

            <!-- Main -->
                <div id="main">
                    <div class="inner">
                        <div>
							<!-- Header -->
								<header id="header">
									<a th:href="@{/index}" class="logo"><strong>AZABELLCODE</strong> by Azabell1993</a>
									<ul class="icons">
										소스코드 바로가기 <li><a onclick="window.open('https://github.com/Azabell1993/ClangStructPointerExample')" class="icon brands fa-github"></a></li>
									</ul>
								</header>
						
							<!-- Banner -->
								<section id="banner">
									<div class="content">
						
									</div>
								</section>
							</div>
						
						<!-- insert main content -->
                        <th:block th:replace="thymeleaf/product/editproduct.html :: productFragment"></th:block>
                        
						<div>
                        <section include-html="/main/foot.html"></section>
                    </div>
                    </div>
                </div>

                <div id="sidebar">
                    <div class="inner">
                        <th:block th:replace="thymeleaf/main/menu.html :: mennuFragment"></th:block>
                    </div>
                </div>
        </div>
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/browser.min.js"></script>
        <script src="assets/js/breakpoints.min.js"></script>
        <script src="assets/js/util.js"></script>
        <script src="assets/js/main.js"></script>
        <script src="assets/js/AddFunction.js"></script>
        <script src="assets/js/innerHTML.js"></script>
        <script src="assets/js/includeRouter.js"></script>
        
        <!-- add Scripts -->
        <script src="/product/editproduct.js"></script>
        <script src="/product/validate.js"></script>
</body>
    <script>
    includeHTML( function () {
      includeRouter( function () {
        // do something in the future
      });
    });
    </script>


</html>
