<!--footerFragment 선언-->
<div th:fragment="indexFragment">
<section id="banner">
    <div class="content">
        <header>
            <h1>제 블로그에 오신 것을 환영합니다.<h1><br />
            <h3>.wasm Binaray File 연동 TestSpace<h3>
            <h3>C언어 Function Test</h3>
        </header>
        <ul class="actions">
            <li>
                <input type="text" size=20 id="numA">
				<input type="password" size=20 id="numB">

                <button class="mybutton">SUBMIT</button>

                <p id="textcontent">먼저 'ADD'버튼을 눌러주세요. 이곳에 결과가 나타납니다.</p> 
                
            </li>
        </ul>
    </div>
    <img src="images/mainPic.png"  style="width: 100%; height:auto;" alt="" />
</section>
	<header class="main">
		<h1>사용된 코드</h1>
	</header>

	<!-- Content -->
		<h2 id="content">살펴보기</h2>
		<p>이 블로그에는 C/C++언어를 와즘과 연동하여 연습한 샘플 코드들이 있습니다.</p>
		<div class="row">
<div class="col-12 col-12-small">

	<details>
		<summary>test code 1</summary>
		<div class="row">
			<section include-html="/login/login_sample_code_1.html"></section>
		</div>
	</details>

	<details>
		<summary>test code 2</summary>
		<div class="row">
			<section include-html="/login/login_sample_code_2.html"></section>
		</div>
	</details>

	<details>
		<summary>test code 3</summary>
		<div class="row">
			<section include-html="/login/login_sample_code_3.html"></section>
		</div>
	</details>
</div>
</div>