<details>
    <summary><code>CalculatorClass.java</code></summary>
    <div class="row">
        <section include-html="/eduOOP/exam5_j_c.html"></section>
    </div>
</details>

<details>
    <summary><code>runMain.java</code></summary>
    <div class="row">
        <section include-html="/eduOOP/exam5_j_m.html"></section>
    </div>
</details>

<details>
    <summary><code>CalculatorJava_run.bat</code></summary>
    <div class="row">
        <section include-html="/eduOOP/exam5_j_bat.html"></section>
    </div>
</details>