<!-- Preformatted Code -->
<br/>
<h2>1. C언어 스타일</h2>
<br/>
<div class="col-10 col-12-medium">
    <ul class="alt">
        <li>C언어에서도 클래스 기능을 유사하게 흉내낼 수 있다.</li>
        <li><strong>struct(구조체)</strong>를 활용하여서 아래와 같이 선언을 해주면 된다.</li>
    </ul>
</div>

<!-- Preformatted Code -->
<pre><code>[struct 선언]

    struct name
    {
            필드 선언;
            메서드 선언;
            // C에서 struct내에 메서드 선언시 함수 포인터를 활용하는 것이 좋다.
            // 구조체에서 함수 포인터 주소값을 정확하게 명시하면서 활용하는 것이 좋다.
    }
</code></pre>
<!-- Preformatted Code -->

<h2>2. JAVA 언어 스타일</h2>
<br/>
<div class="col-10 col-12-medium">
    <ul class="alt">
        <li>JAVA에서는 아래와 같이 class 명을 그대로 선언하면서 설계하면 된다.</li>
    </ul>
</div>

<!-- Preformatted Code -->
<pre><code>[class 선언]

    class name {
            필드 선언;
            메서드 선언;
            // JAVA에서 메서드 선언시에는 자료형과 함수,페라메터, 중괄호 순으로 
            // 그대로 선언해주면 된다.
    }
</code></pre>
<!-- Preformatted Code -->


<h2>3. 클래스 다이어그램 구성도</h2>
<br/>
<div class="col-10 col-12-medium">
    <ul class="alt">
        <li>본 다이어그램 구성도는 소스코드에서 선언한 변수명대로 그대로 정리해봤다.</li>
        <li>객체지향의 본질은 비슷하므로 이해하기 쉽도록 서로 흐름은 비슷하게 구성하였다.</li>
        <li>C언어에서는 <strong>클래스</strong>라는 개념이 없지만 <strong>구조체</strong>라는 개념은 있다. </li>
        <li>하지만 본 글은 객체지향의 이해를 돕기 위한 문서이므로, 편의상 `클래스`라고 명시를 하므로 <strong>혼선이 없길 바란다</strong></li>
    </ul>
</div>


<div class="box alt">
    <div class="row gtr-50 gtr-uniform">
        <div class="col-4"><span class="image fit"><img src="images/eduOOP/C언어 다이어그램 구성도.png" alt="" /></span></div>
        <div class="col-4"><span class="image fit"><img src="images/eduOOP/JAVA언어 다이어그램 구성도.png" alt="" /></span></div>
    </div>
</div>
<br/>