<!-- Preformatted Code -->
<br/>
<h3>1. 객체란 무엇인가?</h3>
<br/>
<div class="col-10 col-12-medium">
    <ul class="alt">
        <li>프로그래머로써 <strong>‘클래스’</strong>를 이용한 프로그래밍을 하기에 앞서 <strong>‘객체’</strong>라는 용어 정의에 대해서 명확하게 파악할 의무가 있다.</li>
        <li>‘객체’는 한 마디로 물리적으로 존재하거나 추상적으로 생각할 수 있는 것 중에서 자신의 속성을 가지고 있으면서도 식별이 가능한 것을 말한다.</li>
        <li>우선 프로그램을 구현하기 전에 <strong>어떤 객체를 어떻게 만들지 정의`해야 할 수 있어야한다.</strong></li>
        <li>쉬운 이해를 위해서 예제는 덧셈, 뺄셈, 곱셈, 나눗셈을 이용한 로직의 프로그램을 C와 JAVA로 구현하였으며, 아래의 도표부터 참조해보면 된다.</li>
        <li>공통적으로 적용되는 항목을 <strong>객체명과 속성, 동작</strong>으로 추려서 정리를 해준다.</li>
    </ul>
</div>

<!-- Preformatted Code -->
<pre><code>‘속성’에는 객체만이 가진 고유한 특성을 지정하며, ‘동작’에는 글자 그대로 객체가 수행하는 동작을 지정해준다.
</code></pre>
<!-- Preformatted Code -->

<div class="box alt">
    <div class="row gtr-50 gtr-uniform">
        <div class="col-4"><span class="image fit"><img src="images/eduOOP/객체모델링.png" alt="" /></span></div>
    </div>
</div>

<div class="col-10 col-12-medium">
    <ul class="alt">
        <li><strong>객체</strong>라고 함은 <strong>속성 + 동작</strong>을 의미한다.
        <li>일반적으로 객체를 가리킬 때, 위에서 말한 것과 같이 정의하면 편할 것이다. 객체는 말 그대로 속성과 동작으로 이루어져 있다는 의미이다. </li>
        <li>현실세계의 객체를 소프트웨어의 객체로 설계하는 것을 <strong>객체 모델링(object modeling)</strong>이라고 한다.</li>
        <li>객체 모델링은 현실세계 객체의 속성과 동작을 추려내어 소프트웨어의 객체와 필드와 메서드로 정의하는 과정이라고 볼 수 있다.</li>
    </ul>
</div>
<br/>
<div class="box alt">
    <div class="row gtr-50 gtr-uniform">
        <div class="col-4"><span class="image fit"><img src="images/eduOOP/소프트웨어 객체 모델링.png" alt="" /></span></div>
        <div>이처럼 객체를 만들고 이를 조립해 완성된 프로그램을 만드는 기법을 객체지향 프로그래밍이라고 한다.</div>
    </div>
</div>

<br/>
<h3>2. 객체의 상호작용</h3>
<br/>

<div class="col-10 col-12-medium">
    <ul class="alt">
        <li>위에서 예시를 계산기로 들었다. 그렇다면 사람은 계산기에게 덧셈할 두자리의 인수를 입력하고 ‘+’을 입력해주면 된다. 그럴때 리턴되어 돌아오는 것이 결과값이다.</li>
        <li>소프트웨어 역시 이와 동일하게 적용이 된다. 사람은 ‘객체’다. ‘객체’는 인수값을 가지고 메서드를 호출하면 결과를 리턴해주는 것이다.</li>
           
        <pre><code>
            <strong>리턴값 = 전자계산기객체.메서드(매개값1, 매개값2, ... );</strong>
        </code></pre>
        <br/>
        <h4>위와 같이 정리가 될 수 있다.</h4>
        <ul>
            <li><strong>1. 전자계산기객체.메서드</strong></li>
            <li>a. 객체에 도트(.) 연산자를 붙이고 메서드 이름을 기술하면 된다. 도트 연산자는 필드와 메서드에 접근할 때 사용을 할 수 있다.</li>
            <li><strong>2. (매개값1, 매개값2, ... )</strong></li>
            <li>a. 매개값은 메서드를 실행하기 위해 필요한 인수값(데이터)다.</li> 
            <li>예를 들어서 10과 20을 주고 더하기 기능을 이용하겠다고 한다면, 10과 20이 더하기 기능의 매개값이며, 리턴 값은 ‘메서드’가 실행되고 난 후 호출한 곳으로 돌려주는 (리턴하는) 값이 될 수 있다.</li>
        </ul>
</div>
<br/>