<!-- Preformatted Code -->
<br/>
<h2>힙 메모리 구조에 관하여...</h2>
<br/>
<div class="col-10 col-12-medium">
    <ul class="alt">
        <li>먼저 아래에서 직접 만들고 수록한 이미지는 C언어를 기준으로 설명한 것이지만, <strong>C언어 자체에서는 스택과 힙이 존재하지 않는다.</strong> 존재한 다는 것은 명백하게 오개념이라고 봐야한다. </li>
        <li>스택과 힙이 아닌 다른 컴퓨터 전문 용어로 지역변수는 stack에, malloc의 결과값은 heap에 위치한다'라는 널리 알려진 규칙 또한 존재하지 않는다. </li>
        <li>C언어는 절차지향이 근본이지 객체지향이 아니다. 그냥 <code>식별자(identifier)</code>와 <code>객체(object)</code>,</li>
        <li><code>통용 범위(Scope)</code>와 <code>지속 시간(Storage Duration)</code>의 차이를 구분해서 이해해야 한다.</li>
        <li>스택과 힙을 사용하는지에 대한 여부는 C언어에서 요구하는 것이 아니며 `CPU`와 `OS의 특성`에 따라 결정된다. </li>
        <li>C언어에 구조체 포인터와 함수 포인터들을 사용하여서 <code>##</code>메크로를 사용하여 header 파일당 하나에 구조체로 <code>static</code>을 선언해두고 하나의 기능를 만들어둔다면 </li>
        <li><strong>(예: 유사 stl)</strong> 요긴하게 사용할 수 있다. 그러면 <strong>static</strong>으로 인하여 자바에서 말하는 개념과 비슷한 개념으로 접근해가면서 해당 구조체(여러 구조체, 함수 포인터들이 엮인)가 실행이 된다. 절차적으로 어떻게 구성이되는지 먼저 확실하게 이해를 해야하고 최소한 통용 범위와 지속 시간의 개념을 먼저 알고나야 아키텍쳐 설계의 구조인 스택과 힙을 아래의 구조처럼 받아들여서 적절히 참조를 하면 될 것이다.</li></li>
    </ul>
</div>

<div class="box alt">
    <div class="row gtr-50 gtr-uniform">
        <div class="col-4"><span class="image fit"><img src="images/eduOOP/heap memory.jpg" alt="" /></span></div>
    </div>
</div>
<br/>

<br/>
<div class="col-10 col-12-medium">
    <ul class="alt">
        <li>아래는 전반적인 메모리 구조다.</li>
    </ul>
</div>

<div class="box alt">
    <div class="row gtr-50 gtr-uniform">
        <div class="col-4"><span class="image fit"><img src="images/eduOOP/memory tree.png" alt="" /></span></div>
    </div>
</div>
<br/>