<details>
    <summary><code>CalculatorStruct.h</code></summary>
    <div class="row">
        <section include-html="/eduOOP/exam5_c_h.html"></section>
    </div>
</details>

<details>
    <summary><code>CalculatorSTruct.c</code></summary>
    <div class="row">
        <section include-html="/eduOOP/exam5_c_c.html"></section>
    </div>
</details>

<details>
    <summary><code>CalculatorStruct_run.bat</code></summary>
    <div class="row">
        <section include-html="/eduOOP/exam5_c_bat.html"></section>
    </div>
</details>