
    <div class="col-12 col-12-medium">
        <h2></h2>
        <h3>이 설명글은 온전히 필자의 경험을 바탕하에 저술한 글이다. 따라서 이 글은 그냥 공부를 하는데에 있어서 참고용 정도로 읽어주면 좋겠다.</h3>
    </div>
    
    <div class="col-10 col-12-medium">
        <h4>함수 포인터만으로는 부족하다.</h4>
        <ul>
            <h5><strong>함수 포인터 예제 샘플</strong></h5>
            <details>
                <summary>헤더 파일 1</summary>
                <div class="row">
                    <section include-html="/generic/pointer_2_headercode.html"></section>
                </div>
            </details>

            <ul class="alt">
                <li>내용 쓰기</li>
            </ul>
        </ul>
    </div>